---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import Navbar from '../components/Navbar'
import { ViewTransitions } from 'astro:transitions'
const contents = await Astro.glob('../content/summary/*.md')
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
    <style>
      .members {
        margin-bottom: 2rem;
      }

      .contents {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }

      .title {
        margin-bottom: 20px;

        .date {
          color: #c0c0c0;
        }
      }

      li {
        list-style-type: none;
        margin: 0;
      }

      p {
        margin-block: 1rem;
      }

      @media screen and (max-width: 500px) {
        h1 {
          font-size: 25px;
        }
      }
    </style>
    <style is:inline>
      h2,
      h3,
      h4 {
        margin-top: 20px;
      }

      p {
        font-size: 16px;
        font-weight: 300;
      }
    </style>
  </head>

  <body>
    <div transition:name="nav">
      <Navbar />
    </div>
    <main>
      <h1>Engineering Exploration Viewbook</h1>
      <div class="members">
        <h3>สมาชิก</h3>
        <ul>
          <li>ภูบดินทร์ พูลหน่าย 66070501040</li>
          <li>ธรรมภณ แฉ่งพาที 66070501076</li>
          <li>ณัฐชนน ศรีศิริ 66070501016</li>
          <li>ธิติ ติยะชัยพานิช 66070501026</li>
        </ul>
      </div>
      <div class="contents">
        {
          contents.map((content) => (
            <div>
              <div class="title">
                <div class="date">{content.frontmatter.pubDate}</div>
                <h1>
                  {content.frontmatter.title} - {content.frontmatter.description}
                </h1>
              </div>
              <content.Content />
            </div>
          ))
        }
      </div>
    </main>
  </body>
</html>
